html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 2000px;
    overflow-x: hidden;
    font-family: "Monument Extended", sans-serif;
    background: #0f0f0f;
    scroll-behavior: smooth;
}